/* styles.css */
section, button{
    padding-top: 10px;
    padding-bottom: 10px;
}

.plain-link {
    color: inherit;
    text-decoration: none;
}

.img{
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-control-prev-icon {
    background-image: url(../static/img/free-icon-arrow-left-6327807.png);
}

.carousel-control-next-icon {
    background-image: url(../orm_api/table/static/img/free-icon-arrow-right-6327824.png);
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 20%;
}

.carousel-control-next{
    right: -35px;
}

.carousel-control-prev{
    left: -35px;
}
