{% extends 'base.html' %}

{% block title %}Food{% endblock %}

{% block content %}
<section>
    <div class="container text-center">
        <section>
            <form method="GET">
                <div class="col" id="sortBySelect">
                    <select class="form-select" aria-label="Default select example" name="sort_by">
                        <option value="alpha">По алфавиту</option>
                        <option value="vegetables">Овощи</option>
                        <option value="fruits">Фрукты</option>
                    </select>
                </div>
                <section>
                </section>
                <button type="submit" class="btn btn-primary d-md-block btn-success">Подтвердить</button>
            </form>
        </section>

        <section>
            <div class="row">
                <div class="card">
                    <h5 class="card-header">Список</h5>
                    <div class="card-body">
                        {% for food in foods %}
                        <h5 class="text-start">{{ food.name }}</h5>
                        <p class="text-start">{{ food.description|truncatechars:200 }}</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="{% url 'food_detail' food.id %}" class="btn btn-primary btn-success">
                                Узнать больше
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
{% endblock content %}
